.App {
  text-align: center;
}

.mainWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayWrap {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.calenderWrap {
  width: 61%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.dayButtonWrap {
  margin: 20px;
}

.dayButton {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: transparent;
  cursor: pointer;
}
